/* topbar.module.css */
.full {
    height: fit-content;
    background-color: #F9F6EB;
    transition: background-color 0.3s ease-in-out; /* Add transition for a smooth color change */
}

.header {
    background-image: url('/headerbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: right;
    padding: 2% 4% 2% 4%;
    gap: 15px;
    transition: background-color 0.3s ease-in-out; /* Add transition for a smooth color change */
}

.header_item {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown_content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown_content {display: block;}

  .dropdown:hover .bars {background-color: #3e8e41;}

.bars {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #F9F6EB; /* Change the background color when sticky */
}

@media screen and (max-width: 1000px) {
    .header_item {
        display: none;
    }

    .bars {
        display: flex;
    }
}
