@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Orbitron:wght@600&family=Roboto+Mono&display=swap');

.full {
    min-height: 100vh;
    background-color: #DCCB8E;
}

.main {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 3% ;
    align-items: center;
}

.title{
    color: #201909;
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    margin: 1% 4% 1% 4%;
}

.title2{
    color: #201909;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    margin: 1% 4% 1% 4%;
}

.title3{
    color: #201909;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    margin: 1% 4% 1% 4%;
}

.right {
    display: flex;
    flex-direction: column;
}

.right > img {
    height: 150px;
}

@media screen and (max-width: 1000px) {
    .title2{
        font-size: 22px;
    }

    .title3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .title2{
        font-size: 20px;
    }

    .title3 {
        font-size: 11px;
    }

    .main {
        flex-direction: column;
    }

    .right{
        flex-direction: row;
        padding-top: 20px;
    }

    .right > img {
        height: 100px;
    }
}